<div class="white">
  <div class="row no-gutters">
    <div class="col-12 col-lg-12">
      <img class="responsive-img" src="https://odis.homeaway.com/odis/destination/6df4a1e7-978a-452e-b896-f2b152e14aab.hw5.jpg" />
    </div>
  </div>
  <div class="row p-5 center no-gutters">
    <div class="col-12 col-md-6 col-xl-6 col-sm-12 center white ">
      <h1>
        <p>
          Guide de confiance
        </p>
      </h1>
    </div>
    <div class="col-12 col-md-6 col-xl-6 col-sm-12 white black-text">
      La relation que nous entretenons avec des millions de personnes et d'entreprises à travers le monde est basée sur la confiance. Nous
      sommes très reconnaissants de celle que vous nous accordez et nous prenons très au sérieux la responsabilité qui est la nôtre de
      protéger vos informations. Afin de mériter votre confiance, nous avons conçu et continuons de développer Dropbox en mettant l'accent
      sur la sécurité, la conformité et la confidentialité.
    </div>
  </div>
  <div class="row p-5 no-gutters">
    <div class="col-md-4 col-lg-4  col-sm-12">
      <div class="center">
        <p class="white black-text">hola</p>
        <hr>
      </div>
      <div class="white blue-grey-text container">
        <ul>
          <a href=""> adios</a>
        </ul>
        <ul>
          <a href=""> adios</a>
        </ul>
        <ul>
          <a href=""> adios</a>
        </ul>
      </div>
    </div>
    <div class="col-md-4 col-lg-4  col-sm-12">
      <div class="center">
        <p class="white black-text">hola</p>
        <hr>
      </div>
      <div class="white-text container">
        <ul>
          <a href=""> adios</a>
        </ul>
        <ul>
          <a href=""> adios</a>
        </ul>
        <ul>
          <a href=""> adios</a>
        </ul>
      </div>
    </div>
    <div class="col-md-4 col-lg-4  col-sm-12">
      <div class="center">
        <p class="white black-text">hola</p>
        <hr>
      </div>
      <div class="white-text container">
        <ul>
          <a href=""> adios</a>
        </ul>
        <ul>
          <a href=""> adios</a>
        </ul>
        <ul>
          <a href=""> adios</a>
        </ul>
      </div>
    </div>
  </div>
  <div class="row p-5 no-gutters">
    <div class="left col col-md-6 col-sm-12   col-lg-6">
      <p class="center text-darken-4">hooa incus</p>
      <p class="center black-text">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. At, quis fuga. Saepe ipsum commodi labore suscipit! Est blanditiis
        officiis illo corrupti nam possimus nesciunt expedita veniam non eaque autem, amet consequatur, sint reiciendis vel odit sit animi
        ut ratione, incidunt voluptatem atque ipsam at ex. Incidunt sint temporibus assumenda laudantium repellat et voluptate velit
        pariatur numquam vel. Voluptate ducimus, ipsum quis exercitationem dolorem earum dolore, at eum dolorum sit quibusdam quo libero id
        assumenda iusto officia amet error unde maiores! Doloremque facere nisi delectus suscipit quae vel reprehenderit eos dolore harum
        libero, consectetur in voluptates assumenda placeat recusandae eligendi voluptate exercitationem aperiam nulla praesentium molestias
        corporis quia optio quod! Ut atque libero incidunt omnis quae, sit impedit harum maxime quod veniam delectus magnam quibusdam
        eligendi fugit perferendis eaque quaerat aliquid porro error labore laudantium odio recusandae facilis. Alias facilis distinctio
        nisi atque saepe nulla amet ab possimus, id porro esse.
      </p>
    </div>
    <div class="col col-md-6 col-sm-12   col-lg-6 red-text">
      <div class="p-5">
        <app-imagen> </app-imagen>
        <p class="center">Lorem ipsum dolor sit amet.</p>
      </div>
    </div>
    <div class="col col-md-6 col-sm-12   col-lg-6 red-text">
      <div class="p-5">
        <app-imagen> </app-imagen>
        <p class="center">Lorem ipsum dolor sit amet.</p>
      </div>
    </div>
    <div class="col col-md-6 col-sm-12   col-lg-6">
      <p class="center black-text">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. At, quis fuga. Saepe ipsum commodi labore suscipit! Est blanditiis
        officiis illo corrupti nam possimus nesciunt expedita veniam non eaque autem, amet consequatur, sint reiciendis vel odit sit animi
        ut ratione, incidunt voluptatem atque ipsam at ex. Incidunt sint temporibus assumenda laudantium repellat et voluptate velit
        pariatur numquam vel. Voluptate ducimus, ipsum quis exercitationem dolorem earum dolore, at eum dolorum sit quibusdam quo libero id
        assumenda iusto officia amet error unde maiores! Doloremque facere nisi delectus suscipit quae vel reprehenderit eos dolore harum
        libero, consectetur in voluptates assumenda placeat recusandae eligendi voluptate exercitationem aperiam nulla praesentium molestias
        corporis quia optio quod! Ut atque libero incidunt omnis quae, sit impedit harum maxime quod veniam delectus magnam quibusdam
        eligendi fugit perferendis eaque quaerat aliquid porro error labore laudantium odio recusandae facilis. Alias facilis distinctio
        nisi atque saepe nulla amet ab possimus, id porro esse.
      </p>
    </div>
    <div class="col col-md-6 col-sm-12   col-lg-6">
      <p class="center black-text">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. At, quis fuga. Saepe ipsum commodi labore suscipit! Est blanditiis
        officiis illo corrupti nam possimus nesciunt expedita veniam non eaque autem, amet consequatur, sint reiciendis vel odit sit animi
        ut ratione, incidunt voluptatem atque ipsam at ex. Incidunt sint temporibus assumenda laudantium repellat et voluptate velit
        pariatur numquam vel. Voluptate ducimus, ipsum quis exercitationem dolorem earum dolore, at eum dolorum sit quibusdam quo libero id
        assumenda iusto officia amet error unde maiores! Doloremque facere nisi delectus suscipit quae vel reprehenderit eos dolore harum
        libero, consectetur in voluptates assumenda placeat recusandae eligendi voluptate exercitationem aperiam nulla praesentium molestias
        corporis quia optio quod! Ut atque libero incidunt omnis quae, sit impedit harum maxime quod veniam delectus magnam quibusdam
        eligendi fugit perferendis eaque quaerat aliquid porro error labore laudantium odio recusandae facilis. Alias facilis distinctio
        nisi atque saepe nulla amet ab possimus, id porro esse.
      </p>
    </div>
    <div class="col col-md-6 col-sm-12   col-lg-6 red-text">
      <div class="p-5">
        <app-imagen> </app-imagen>
        <p class="center">Lorem ipsum dolor sit amet.</p>
      </div>
    </div>
  </div>
</div>
<br />
<br />
<br />
<div class="green">
  <br />
  <br />
  <div class="container center">
    <div class="row">
      <div class="col-8">
        <h1 class="yellow-text">THE LEGEND OF ZELDA</h1>
      </div>
      <div class="col-4">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" />
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </div>
    </div>
  </div>

  <br />
  <br />
</div>
<div class="black">
  <br />
  <br />
  <div class="container">
    <app-collapsible></app-collapsible>
  </div>
  <br />
  <br />
</div>
