<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{ card.title || "Card title" }}</h5>
    <p class="card-text">
      {{
        card.body ||
          "Some quick example text to build on the card title and make up the bulk of
      the card's content."
      }}
    </p>
    <a href="#" class="btn btn-primary">{{ card.button || "Go somewhere" }}</a>
    <p *ngIf="card.footer">
      <span class="subrayado">{{ card.footer }}</span>
    </p>
  </div>
</div>
