<div class="navbar-fixed">
  <nav class="white">
    <div class="nav-wrapper container">
      <a [routerLink]="['/home']" class="brand-logo black-text">Logo</a>
      <a [routerLink]="['/home']" data-target="mobile-demo" class="sidenav-trigger black-text"> <i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a class="black-text" [routerLink]="['/home']">Home</a></li>
        <li><a class="black-text" [routerLink]="['/conocenos']">Conocenos</a></li>
        <!-- Dropdown Trigger -->
        <li>
          <a class="dropdown-trigger black-text" data-target="dropdown1">MAS DE NOSOTROS <i class="material-icons right">arrow_drop_down</i></a>
        </li>

        <!-- <li><a [routerLink]="[ '/' ]">nombre</a></li> -->
      </ul>
    </div>
  </nav>
</div>
