<div class="row no-gutters">
  <img class="responsive-img" src="../../../assets/img/playa.jpg" />
</div>
<div>
  <div class="row no-gutters pt-5">
    <div class="col-6">
      <b>
        Nos partenaires technologiques décuplent les capacités de Dropbox
      </b>
    </div>
    <div class="col-6">
      Avec nos partenaires, nous développons une nouvelle ère en matière de
      collaboration. De la gestion de projets à la sécurité informatique,
      connectez-vous facilement aux outils que vos équipes utilisent tous les
      jours et profitez de toutes les possibilités offertes par Dropbox.
      <span class="subrayado">Parcourez nos partenaires technologiques</span>
    </div>
  </div>
</div>
