<app-main-nav></app-main-nav>
<router-outlet> </router-outlet>

<ul class="sidenav active" id="mobile-demo">
  <li><a [routerLink]="['/home']">Home</a></li>
  <li><a [routerLink]="['/conocenos']"><i class="fa fa-map"></i> Conocenos</a></li>
  <li class="center"><button class="btn btn-large" (click)="mas = !mas"><i class="fa fa-plus"></i>MAS</button></li>
  <div *ngIf="mas">
    <li><a [routerLink]="['/contactanos']"><i class="fa fa-user-plus"></i>Contactanos</a></li>
    <li><a [routerLink]="['/seguridad']"><i class="fa fa-cogs"></i> Seguridad</a></li>
    <li><a [routerLink]="['/integracion']"> <i class="fa fa-lightbulb-o"></i> Integracion</a></li>
  </div>
</ul>
<ul class="dropdown-content" id="dropdown1">
  <li><a [routerLink]="['/conocenos']"> <i class="fa fa-map"></i> Conocenos</a></li>
  <li><a [routerLink]="['/contactanos']"><i class="fa fa-user-plus"></i> Contactanos</a></li>
  <li><a [routerLink]="['/seguridad']"> <i class="fa fa-cogs"></i> Seguridad</a></li>
  <li><a [routerLink]="['/integracion']"> <i class="fa fa-lightbulb-o"></i> Integracion</a></li>

</ul>
