<div class="blue">
  <div class="container">
    <div class="row">
      <!-- Esta es la precentacion del home -->
      <div class="col-12">
        <div>
          <h2>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          </h2>
        </div>

        <div class="row">
          <div class="lugar col-sm-12 col-md-3 col-lg-3 margen">
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora
              illum, Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Ipsam.n
            </p>
            <button class="btn">Lorem ipsum dolor sit</button>
            <p>Lorem <span class="subrayado">ipsum dolor sit amet</span></p>
            <i class="fa fa-arrow-down fa-5x d-none d-sm-block"></i>
          </div>
          <div class="col-md-9">
            <div>
              <img
                src="../../../assets/img/razer.jpg"
                class="tamano posicion d-none d-md-block"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="white separacion">
  <div class="container">
    <div class="col-12">
      <div>
        <h4>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</h4>
        <form>
          <p>
            <label>
              <input class="with-gap" name="group1" type="radio" />
              <span>Hola1</span>
            </label>
            <label>
              <input class="with-gap" name="group1" type="radio" />
              <span>Hola2</span>
            </label>
          </p>
        </form>
      </div>
      <div class="row">
        <app-cards2
          *ngFor="let item of data"
          class="col-4"
          [card]="item"
        ></app-cards2>
      </div>
    </div>
    <div>
      <h3>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore,
        accusamus.
      </h3>
      <div class="row">
        <app-cards2
          *ngFor="let item of data"
          class="col-4"
          [card]="item"
        ></app-cards2>
      </div>
      <div class="row">
        <app-cards2
          *ngFor="let item of data"
          class="col-4"
          [card]="item"
        ></app-cards2>
      </div>
    </div>
    <div class="col-5">
      <h4>Plus de 450 000 équipes utilisent Dropbox Business</h4>
    </div>
  </div>
</div>

<!-- Esta es la imagen del home -->
<!-- <div>
  <img
    src="../../../assets/img/razer.jpg"
    class="tamano posicion d-none d-md-block"
  />
</div> -->
<!-- <app-cards *ngFor="let card of data" ></app-cards> -->
