.tamano{
    width: 100%;
}
.posicion{
    position: absolute;
    right: -20px;
    top: -20px;
}
.lugar{
    position: static;
}
.separacion{
    padding-top: 100px;
}
.margen{
    margin-bottom: 75px;
}