<ul id="tabs-swipe-demo" class="tabs tabs-fixed-width">
  <li class="tab col-3"><a class="active" href="#test-swipe-1">Test 1</a></li>
  <li class="tab col-3"><a class="active" href="#test-swipe-2">Test 2</a></li>
  <li class="tab col-3"><a class="active" href="#test-swipe-3">Test 3</a></li>
</ul>
<br />
<br />
<br />
<div id="test-swipe-1" class="col s12">
  <!-- <div class="row"> -->
    <div class="col-6"><app-imagen></app-imagen></div>
    <div class="col-6">Test 1</div>
  <!-- </div> -->
</div>
<div id="test-swipe-2" class="col s12">
  <!-- <div class="row"> -->
    <div class="col-6"><app-imagen></app-imagen></div>
    <div class="col-6">Test 2</div>
  <!-- </div> -->
</div>
<div id="test-swipe-3" class="col s12">
  <div class="row">
    <div class="col-6"><app-imagen></app-imagen></div>
    <div class="col-6">Test 3</div>
  </div>
</div>
