<div class="white">
  <div class="row no-gutters">
    <div class="col-12 col-lg-12">
      <img class="responsive-img" src="https://odis.homeaway.com/odis/destination/6df4a1e7-978a-452e-b896-f2b152e14aab.hw5.jpg" />
    </div>
  </div>
  <div class="row p-5 center no-gutters">
    <div class="col-12 col-md-6 col-xl-6 col-sm-12 center white ">
      <h1>
        <p>
          Des entreprises de toutes tailles utilisent Dropbox pour gagner en efficacité
        </p>
      </h1>
    </div>
    <div class="col-12 col-md-6 col-xl-6 col-sm-12 white black-text">
      Notre solution répond aux besoins d'entreprises du monde entier dans des secteurs très variés (conception de chaussures, publication
      de magazines, immobilier, et bien d'autres).
    </div>
  </div>

  <div class="container">
    <hr />
    <div class="row p-5">
      <div class="col-md-3 col-sm-6 col-xl-3 col-lg-4">
        <app-imagen></app-imagen>
      </div>
      <div class="col-md-3 col-sm-6 col-xl-3 col-lg-4">
        <app-imagen></app-imagen>
      </div>
      <div class="col-md-3 col-sm-6 col-xl-3 col-lg-4">
        <app-imagen></app-imagen>
      </div>
      <div class="col-md-3 col-sm-6 col-xl-3 col-lg-4">
        <app-imagen></app-imagen>
      </div>

      <div class="col-md-3 col-sm-6 col-xl-3 col-lg-4">
        <app-imagen></app-imagen>
      </div>
      <div class="col-md-3 col-sm-6 col-xl-3 col-lg-4">
        <app-imagen></app-imagen>
      </div>
      <div class="col-md-3 col-sm-6 col-xl-3 col-lg-4">
        <app-imagen></app-imagen>
      </div>
      <div class="col-md-3 col-sm-6 col-xl-3 col-lg-4">
        <app-imagen></app-imagen>
      </div>
    </div>
  </div>

  <br>
  <br>
  <br>
  <div class="container">
    <hr />
    <div class="row">
      <div class="col-md-4 col-lg-4 col-xl-4 col-sm-12">
        <app-cards></app-cards>
      </div>
      <div class="col-md-4 col-lg-4 col-xl-4 col-sm-12">
        <app-cards></app-cards>
      </div>
      <div class="col-md-4 col-lg-4 col-xl-4 col-sm-12">
        <app-cards></app-cards>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-md-12 center">
        <app-tabs></app-tabs>

      </div>
    </div>
  </div>

</div>
<br />
<br />
<br />
<div class="green">
  <br />
  <br />
  <div class="container center">
    <div class="row">
      <div class="col-8">
        <h1 class="yellow-text">THE LEGEND OF ZELDA 2</h1>
      </div>
      <div class="col-4">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" />
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </div>
    </div>
  </div>

  <br />
  <br />
</div>
<div class="black">
  <br />
  <br />
  <div class="container">
    <app-collapsible></app-collapsible>
  </div>
  <br />
  <br />
</div>
