/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
  }

  html, body {
      height: 100%;
  }
  .subrayado{
    text-decoration: underline;
}